
<ul>
    <li>
        <a href="{{ path('politics') }}">Politics</a>
    </li>
    <li>
        <a href="{{ path('coronavirus') }}">Coronavirus</a>
    </li>
    <li>
        <a href="{{ path('tech') }}">Tech</a>
    </li>
    <li>
        <a href="{{ path('world') }}">World</a>
    </li>
</ul>
