<ul>
    <li>
        <a href="{{ path('homepage') }}">Homepage</a>
    </li>
    <li>
        <a href="{{ path('artical_index') }}">Articals</a>
    </li>
    <li>
        <a href="{{ path('artical_new') }}">New Articals</a>
    </li>
    <li>
        <a href="{{ url('enable')}}">Enable  Articals</a>
    </li>
</ul>
