<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}

            <div class="main-menu">
                {% block menu %}
                {{ include('main/menu.html.twig')}}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        {% endblock %}
    </div>

    </body>
</html>
