{% extends 'base.html.twig' %}

{% block title %}Edit Artical{% endblock %}

{% block content %}
    <h1>Edit Artical</h1>

    {{ include('artical/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('artical_index') }}">back to list</a>

    {{ include('artical/_delete_form.html.twig') }}
{% endblock %}
